@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #EDEFE2;
}
section{
    position: relative;
    
}
img,div{
    position: absolute;
} 
img{
    left: 50%;
}
h1{
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
h1:first-of-type{
    font-size: 50px;
}
h2{
    font-family: 'Poppins', sans-serif;  
}
div:first-of-type{
    left: 10%;
    top: 300px;
}
div:last-of-type{
    left: 10%;
    top: 550px;
}
button{
    padding: 10px 90px;
    border: 1px solid transparent;
    background-color: #F38530;
    border-radius: 20px;
}